extends layout

block content
 div.container
  div.row
   .col-sm
    a.btn.btn-primary(href="/new") New
  .page-header.row
   .col-md-5
      h3
   .col-md-7
      .btn-group.mr-2
        button.btn.btn-primary(data-calendar-nav='prev') << Prev
        button.btn(data-calendar-nav='today') Today
        button.btn.btn-primary(data-calendar-nav='next') Next >>
      .btn-group.mr-2
        button.btn.btn-warning(data-calendar-view='year') Year
        button.btn.btn-warning(data-calendar-view='month') Month
        button.btn.btn-warning(data-calendar-view='week') Week
        button.btn.btn-warning.active(data-calendar-view='day') Day
    
  .row
   .calendar
    script(src="/javascripts/init.js")
